<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipesApp</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/jquery.min.js') }}">
    <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    <script src="https://kit.fontawesome.com/6c7c322b7f.js" crossorigin="anonymous"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Recipes App</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/recipes">Recipes</a></li>
                    {% if 'user_id' in session %}
                    <li><a href="/create_recipe">Create Recipe</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if 'user_id' in session %}
                    <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout, {{session['user_name']}}</a></li>
                {% else %}
                    <li><a href="/login_reg"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <body>
        <h1>Recipe: {{recipe['name']}}</h1>

        <table class="table">
            <tr>
                <td>Description</td>
                <td>{{recipe['description']}}</td>
            </tr>
            <tr>
                <td>Under?</td>
                <td>
                {% if recipe['under_thirty'] == 1 %}
                Yes
                {% else %}
                No
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Instructions</td>
                <td>{{recipe['instructions']}}</td>
            </tr>
            <tr>
                <td>Date made:</td>
                <td>{{recipe['created_at']}}</td>
            </tr>
        </table>
            
            <a href="/remove/{{recipe['id']}}"><button class="btn btn-warning" >Delete</button></a>
        </div>
        <footer class="container-fluid text-center">
            <p>Recipes Share App</p>
        </footer>

    </body>

</html>