<!DOCTYPE html>
<html lang="en">

<head>
  <title>Recipes</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/jquery.min.js') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/data.js') }}">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RecipesApp</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/new_recipes">Created</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-3">
    {% with messages_new_recepi = get_flashed_messages(category_filter=['new_recepi']) %} 
            {% if messages_new_recepi %}
            <ul class="flashes list-group">
              {% for new_recepi in messages_new_recepi %}
              <li class="list-group-item">
                <div class="alert alert-success">{{new_recepi}}</div>
              </li>
              {% endfor %}
            </ul>
            {% endif %} 
          {% endwith %}
    <h2>Add a new recipe</h2><br>
    <h4>Description must not be blank</h4>
    <form action="/created" method="POST">
      <!-- ESTE ID DEBE VENIR DE LA SESIÓN -->
      <input type="hidden" id="user_id" name="user_id" value="{{session['user_id']}}">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Ramen">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Japanese soup">
      </div>
      <!-- <div class="form-group">
          <label for="instructions">Instructions</label>
          <input type="text" class="form-control" id="instructions" name="instructions" placeholder="10">
        </div> -->
      <div class="form-floating">
        <textarea class="form-control" placeholder="Lorem ipsum dolor sit" id="instructions" name="instructions" style="height: 100px"></textarea>
        <label for="instructions">Instructions</label>
      </div>
      <h5>Data coocked/made</h5>
      <div class="form-check">
        <label class="form-check-label" for="created_at">
        <input type="date" id="start" name="created_at" value="{{today}}">
      </div>
      <!-- <div class="input-group date" data-provide="datepicker">
      <input type="text" class="form-control">
      <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
          $('.datepicker').datepicker(
            {
              format: 'mm/dd/yyyy',
              startDate: '-3d'
          }
          );
        </div> -->
      <h5>Under 30 minutes?</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="under" id="under_yes" value="1">
        <label class="form-check-label" for="under_yes">Yes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="under" id="under_no" value="0">
        <label class="form-check-label" for="under_no">No</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>    

  <footer class="container-fluid text-center">
    <p>Recipes Share App</p>
  </footer>

</body>

</html>