<!DOCTYPE html>
<html lang="en">

<head>
  <title>RecipesApp</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/jquery.min.js') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Recepis</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/new_recepis">Created</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-3">
    <h1>Welcome {{user_name}}</h1>
      <h2>All posted recipes</h2>
    <!-- <table class="table">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Under</th>
            <th scope="col">Posted by</th>
            <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{session['name']}}</td>
            <td>{{session['under']}}</td>
            <td>{{session['posted']}}</td>
            <td>{{session['action']}}</td>
        </tr>
      </tbody>
    </table> -->

  </div><br>


  <footer class="container-fluid text-center">
    <p>Welcome</p>
  </footer>

</body>

</html>