<!DOCTYPE html>
<html lang="en">

<head>
  <title>RecepisApp</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/jquery.min.js') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Recepis</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/create_recipe">Create Recipe</a></li>
          <li><a href="/edit_recipe">Edit Recipe</a></li>
          <li><a href="/show">View Recipe</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout WIP</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-3">
    <h1>Welcome {{user_name}}</h1>
    <h2>All posted recipes</h2>


    <table class="table">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Under</th>
            <th scope="col">Posted by</th>
            <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in all_recipes %}
        <tr>
            <td>{{ recipe['name'] }}</td>
            <td>{{ recipe['under_thirty'] }}</td>
            <td>{{ recipe['user_name'] }}</td>
            {% if recipe['user_id'] == session['user_id'] %} 
            <td><a href="/delete/{{recipe['id']}}">Delete</a> | <a href="/edit/{{recipe['id']}}">Edit</a> | <a href="/view/{{recipe['id']}}">View</a> </td>
            {% else %}
            <td><a href="/view/{{recipe['id']}}">View</a></td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div><br>


  <footer class="container-fluid text-center">
    <p>Welcome</p>
  </footer>

</body>

</html>